[init]
	defaultBranch = main
[user]
	name = Jason Lindemuth
	email = jason@bloom.us
[core]
	filemode = false
[includeif "gitdir:~/.gitdisk"]
	path = /home/jason/.gitdisk/.gitconfig-gitdisk
[log]
	date = local
[includeif "gitdir:/home/jason/studiodev"]
	path = /home/jason/studiodev/.gitconfig-studio
[includeif "gitdir:/home/jason/studiodev/germ/.gitdisk"]
	path = /home/jason/studiodev/.gitconfig-studio
[includeif "gitdir:/home/jason/studiodev/germtest/.gitdisk"]
	path = /home/jason/studiodev/.gitconfig-studio
[includeif "gitdir:/home/jason/studio"]
	path = /home/jason/studio/.gitconfig-studio
[includeif "gitdir:/home/jason/studio/germ/.gitdisk"]
	path = /home/jason/studio/.gitconfig-studio
[includeif "gitdir:/home/jason/studiodev/blush/.gitdisk"]
	path = /home/jason/studiodev/.gitconfig-studio
[includeif "gitdir:/home/jason/studiodev/blush"]
	path = /home/jason/studiodev/blush/.gitconfig
[includeif "gitdir:/home/jason/studiodev/periplume"]
	path = /home/jason/studiodev/periplume/.gitconfig
