[init]
	defaultBranch = main
[user]
	name = Jason Lindemuth
	email = jason@bloom.us
[core]
	filemode = false
[includeif "gitdir:~/.gitdisk"]
	path = /home/jason/.gitdisk/.gitconfig-gitdisk
[log]
	date = local
