.dotfiles
.CFUserTextEncoding
.bash_history
.config/
.gnupg/
.password-store/
.vim/
.viminfo
.zsh_history
.zsh_sessions/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Desktop/
.Trash/
Documents/
